body{
    background: #131212;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    box-shadow: 0 px -10px -10px rgba(255, 241, 241, 0.986), 5px 5px 0px 0 rgb(0, 0, 0);
  }
  .login_page {
    width: 400px;
    padding: 8% 0 0;
   margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #131212;
    width: 600px;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 65px;
    top: 50%;
    right: 15%;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.986), 0px 0px 5px  rgb(82, 82, 82);
    border-radius: 2rem;
  }
  .form input {
    outline: 0;
    background: #4d4d4d;
    color: rgba(50, 223, 223, 0.808);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: black;
    border-radius: 20px;
    box-shadow: -10px 0 0 -10px black;
}

  .form input:hover{
    border: 1px solid rgb(133, 157, 173);
  }
  
  .form input[type="submit"]{background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%)}

  .form input[type="submit"]{
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;           
     border-radius: 20px;
     display: block;
     width: 90%;
     outline: none;
     border: none;
     position: relative;
     left: 3%;
   }

   .form input[type="submit"]:hover {
     background-position: right center; /* change the direction of the change here */
     color: rgb(116, 114, 114);
     text-decoration: none;
   }
  
  .form .message {
    margin: 15px 0 0;
    color: #fdfbfb;
    font-size: 16px;
    text-align: center;
  }
  .form .message a {
    color: #7f9cbd;
    text-decoration: none;
  }
  
  .form .login-form {
    display: none;
  }
  h2, h3{
      color: rgb(178, 198, 224);
      text-align: center;
  }
  .img{
      width: 30px;
      height: 30px;
      margin: 10px;
  }
  .icon{
      display: flex;
      justify-content: center;
     
  }